<br>
<br>
<div class="align-content-center justify-content-center">
  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 "></span></div>
<div class="alert-danger" *ngIf="!product && !loading">
  <h3> Product Not found</h3>
</div>
<div class="alert-danger" *ngIf="!product?.notDisabled && !loading">
  <h3> This Product is not being sold currently</h3>
</div>
<div *ngIf="product">
<section class="mb-5">
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">

      <div id="mdb-lightbox-ui"></div>

      <div class="mdb-lightbox">

        <div class="row product-gallery mx-1">

          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">
              <a href=""
                 data-size="710x823">
                <img src="{{imageurl + 'images/'+ product.id + '.png'}}"
                     class="img-fluid z-depth-1">
              </a>
            </figure>
          </div>
        </div>

      </div>

    </div>
    <div class="col-md-6">

      <h5>{{product.name}}</h5>
      <p class="mb-2 text-muted text-uppercase small">{{product.category?.name | uppercase}}</p>
      <p><span class="mr-1"><strong>{{product.price | currency}}</strong></span></p>
      <p class="pt-1">{{product.description}}</p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
          <tr>
            <td><b>Composition:</b>
              <ul>
                <li *ngFor="let a of product.productDescription.composition">{{a}}</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="page-item">
              <b> Manufacturer:</b>
              <li>{{product.productCompany.name}}</li>
            </td>
          </tr>
          <tr>
            <td class="page-item">
              <b> Dosage Form:</b>
                  <li>{{product.productDescription.doseForm}}</li>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <nav aria-label="Page navigation example">
        <h4 class="text-success" *ngIf="product.stock > 0">
          {{product.stock > 5 ? ' In Stock' : ' Only' + product.stock + ' left in Stock'}}</h4>
        <h4 class="text-danger" *ngIf="product.stock <= 0">Out of stock</h4>
        <ul class="pagination">
          <li class="page-item">
            <button class="page-link" [disabled]="cart.quantity <= 0"
                    (click)="updatecart(-1)">-</button></li>
          <li class="page-item"><a class="page-link" href="#">
            {{cart.quantity}}
          </a>
          </li>
          <li class="page-item"><button class="page-link" (click)="updatecart(1)"
          [disabled]="cart.quantity >= product.stock">+</button></li>
        </ul>
      </nav>
      <button type="button" class="btn btn-primary btn-md mr-1 mb-2" (click)="cartService.addToCart(cart)"
      [disabled]="cart.quantity <= 0 || !product.notDisabled">Add to Cart</button>
    </div>
  </div>
</section>
</div>

<!--Section: Block Content-->
