<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th class="text-center">Price</th>
          <th class="text-center">Total</th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of cartService.getCart()">
          <td class="col-sm-8 col-md-6">
            <div class="media">
              <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="{{imageurl + 'images/' + c.product.id + '.png'}}" style="width: 72px; height: 72px;"> </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="#">{{c.product.name}}</a></h4>
                <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                <span>Status: </span><span class="text-success"><strong>{{c.product.stock > 0 ? 'In Stock' : 'No Stock'}}</strong></span>
              </div>
            </div></td>
          <td class="col-sm-1 col-md-1" style="text-align: center">
            <ul class="pagination">
              <li class="page-item"><button class="page-link"
                                            [disabled]="cartService.getQuantityByproductId(c.product.id) <= 0" (click)="cartService.addToCart(c, -1)">-</button></li>
              <li class="page-item"><a class="page-link" href="#">
                {{cartService.getQuantityByproductId(c.product.id)}}
              </a></li>
              <li class="page-item"><a class="page-link" (click)="cartService.addToCart(c, 1)">+</a></li>
            </ul>

          </td>
          <td class="col-sm-1 col-md-1 text-center"><strong>{{c.product.price | currency}}</strong></td>
          <td class="col-sm-1 col-md-1 text-center"><strong>{{c.product.price * cartService.getQuantityByproductId(c.product.id) | currency}}</strong></td>
          <td class="col-sm-1 col-md-1">
            <button type="button" class="btn btn-danger" (click)="cartService.removeFromCart(c.product.id)">
              <span class="glyphicon glyphicon-remove"></span> Remove
            </button></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-3" style="border-left: #414a5c solid 1px">
      <br>
      <table class="table table-hover">
        <thead>
        <h5><b>Purchase Summery</b></h5>
        </thead>
        <tr>
          <td><h5>Subtotal</h5></td>
          <td class="text-right"><h5><strong>{{cartService.getTotalPrice()}}</strong></h5></td>
        </tr>
        <tr>
          <td><h5>Estimated shipping</h5></td>
          <td class="text-right"><h5><strong>{{cartService.getTotalPrice() > 0 ? + 6.94 : 0}}</strong></h5></td>
        </tr>
        <tr>
          <td><h3>Total</h3></td>
          <td class="text-right"><h3><strong>{{cartService.getTotalPrice() > 0 ?cartService.getTotalPrice() + 6.94 : 0}}</strong></h3></td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-secondary">
              <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-success">
              Checkout <span class="glyphicon glyphicon-play"></span>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<hr>
