
<h1 class="card-header"> {{Banner}}</h1>
<div class="container">
  <div class="alert alert-success" *ngIf="actioned">
    <h2>Product {{product.name}} {{!id ? 'Added' : ' Updated'}}</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <article class="card-body">
          <form [formGroup]="registerData" (ngSubmit)="submitForm(registerData)">
            <div class="form-row">
              <div class="col-sm-6 form-group">
                <label>Product Name </label>
                <input type="text" name="name" formControlName="name" class="form-control" placeholder="">
              </div>
              <div class="form-group col-md-6">
                <label>Price per Piece</label>
                <input type="number" name="price" class="form-control"
                       formControlName="price">
              </div>
            </div><!-- form-row end.// -->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Total Stock</label>
                <input type="number" name="stock"
                       class="form-control" formControlName="stock">
              </div>
              <div class="form-group col-md-6">
                <label>Category</label>
                <select class="form-control" formControlName="category">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label>Brief Description of the product</label>
              <textarea class="form-control" rows="3" size="1000" formControlName="description"></textarea>
            </div>

            <div class="form-row">
              <div class="col-sm-6 form-group">
                <label>Company</label>
                <select class="form-control" formControlName="productCompany">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>8</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label>Enable Product</label>
                <select class="form-control" formControlName="notDisabled">
                  <option>true</option>
                  <option>false</option>
                </select>
              </div>
            </div>
              <div class="form-group">
                <label>Upload Image</label>
                <input type="file" class="form-control-file">
              </div>
            <button class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              {{!id ? 'Add' : 'Update' }} Product
            </button>
          </form>
        </article> <!-- card-body end .// -->
      </div> <!-- card.// -->
    </div>
  </div>
</div>
