

<div *ngIf="categoryList.length == 0 || companies.length === 0" class="text-danger">
  <h4> Please create at least 1 category and Company before Registering Products</h4>
</div>
<style>
  input.ng-dirty.ng-invalid {border: solid 2px red; color: red}
  input.ng-dirty.ng-valid { border: solid 2px green; color: green}
</style>
<div *ngIf="flag">
  <div *ngIf="!selectedImage" class="text-danger">
    Please select an image
  </div>
  <ul class="text-danger" *ngFor="let e of evaluationService.evaluateUser(registerData)">
    <li>{{e}}</li>
  </ul>
</div>
<h1 class="card-header"> {{Banner}}</h1>
<div class="container">
  <!--<div [class.alert-danger]="!success" [class.alert-success]="success" *ngIf="flag && Banner">
    <h2>Product {{product.name}} {{!id ? 'Added' : ' Updated'}}</h2>
  </div>-->
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <article class="card-body">
          <form [formGroup]="registerData" (ngSubmit)="submitForm()">
            <div class="form-row">
              <div class="col-sm-6 form-group">
                <label>Product Name </label>
                <input type="text" name="name" formControlName="name" class="form-control" placeholder="">
              </div>
              <div class="form-group col-md-6">
                <label>Price per Piece</label>
                <input type="number" name="price" class="form-control"
                       formControlName="price">
              </div>
            </div>
              <div class="form-row">
                <div formGroupName="category" class="col-sm-6 form-group">
                  <label>Category</label>
                  <select formControlName="id" class="form-control">
                    <option *ngFor="let c of categoryList" value="{{c.id}}">{{c.name | uppercase}}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>Total Stock</label>
                  <input type="number" name="stock"
                         class="form-control" formControlName="stock">
                </div>
              </div>
            <div class="form-group">
              <label>Brief Description of the product</label>
              <textarea class="form-control" rows="3" size="1000" formControlName="description"></textarea>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Enable Product</label>
                <select class="form-control" formControlName="notDisabled">
                  <option>true</option>
                  <option>false</option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <div class="form-group">
                  <label>Upload Image</label>
                  <input type="file" class="form-control-file" (change)="onSlectImage($event)">
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6" formGroupName="productCompany">
                <label>Manufacturer</label>
                <select class="form-control" formControlName="id">
                  <option *ngFor="let com of companies"
                          value="{{com.id}}">{{com.name | uppercase}} {{ com.id}}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label>Discount</label>
                <input type="number" name="discount"
                       class="form-control" formControlName="discount">
              </div>
            </div>
            <div formGroupName="productDescription">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Compositions</label>
                  <input type="text" class="form-control" formControlName="composition" (change)="conertToArray()">
                </div>
                <div class="form-group col-md-6">
                  <label>Dosage Form</label>
                  <select formControlName="doseForm" class="form-control">
                    <option *ngFor="let d of dosageForm" value="{{d}}">{{d}}</option>
                  </select>
                </div>
              </div>
            </div>
            <button class="btn btn-primary">
              <span *ngIf="submitted" class="spinner-border spinner-border-sm mr-1"></span>
              {{!id ? 'Add' : 'Update' }} Product
            </button>
          </form>
        </article> <!-- card-body end .// -->
      </div> <!-- card.// -->
    </div>
  </div>
</div>
