<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-lg-2 border-left">
      <br>
      <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon" />
      </div>
      <hr>
      <h4> Search By Category</h4>
      <div *ngFor="let i of categoryList">
        <a  href="#" >{{i.name | titlecase}}</a>
      </div>
      <br>
      <h4> Select Company</h4>
      <div *ngFor="let i of CompanyList">
        <button class="btn"  (click)="searchByCompany(i.id)">{{i.name | titlecase}}</button>
      </div>
    </div>
    <div class="col-sm-10 col-lg-10 border-left">
      <div class="alert alert-danger" *ngIf="emptyList">
        <h1> No Products available</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4" style="margin-top: 1%" *ngFor="let i of productList">
            <!-- Card -->
            <div class="card">
              <div>
                <a>
                  <div class="mask">
                    <img class="img-fluid"
                         src="{{imageurl + 'images/'+ i.id + '.png'}}">
                    <div class="mask rgba-black-slight"></div>
                  </div>
                </a>
              </div>

              <div class="card-body text-center">
                <a routerLink="/user/product/{{i.id}}"><h4>{{i.name}}</h4></a>
                <hr>
                <h6 class="mb-3">
                  <span class="mr-1 align-content-around">{{i.price | currency}}</span><br>
                  <span class="text-danger mr-1 align-content-around">{{i.price | currency}}</span>
                </h6>

                <button type="button" class="btn btn-primary btn-sm mr-1 mb-2" (click)="addToCart(i)">
                  <i class="fas fa-shopping-cart pr-2"></i>Add to cart
                </button>
              </div>

            </div>
            <!-- Card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
